#wrapper {
    margin: auto;
    width: 80%;
    margin-top: 10%;
}

input {
    width: 100%;
    height: 40px;
}

#output {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

#output div {
    border: solid 1px black;
    color: rgb(23, 103, 129);
    justify-content: stretch;
    width: 18%;
    padding: 5px;
    text-align: center;
    margin-top: 30px;
};
